.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;
}

.container form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.container form label {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 0.5rem;
  justify-content: center;
}

.container form label input {
  accent-color: #7eb77f;
  height: 1.5rem;
  width: 1.5rem;
}

.container form button {
  align-self: center;
  background-color: #7eb77f;
  border-radius: 0.25rem;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  outline: 0;
  padding: 0.5rem 0.75rem;
}

.container form button:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.all-modules-label {
  letter-spacing: .15rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
